* {
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
	text-decoration: none;
}

a:focus, a::after, a::before, a:-webkit-any-link{
	color: inherit;
}

body {
	background-image: url('../images/bg2.png');
	color: #aecafa;
}

h1, h2, h3 {
	text-transform: uppercase;
	font-weight:900;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.main-container {
	display: flex;
	justify-content: center;
}

.nav-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	max-height: 35px;
	background: linear-gradient(0deg, rgba(4,4,4,1) 0%, rgba(0,0,15,0.7315301120448179) 100%, rgba(32,32,32,1) 100%);
	border-top: 2px solid #6c97de;
	gap: 5%;
}

.brand-container {
	width: 100px;
	height: 35px;
	display: flex;
	gap: 15px;
	align-items: center;
	font-weight: 900;
}

.name {
	color: rgb(228, 226, 238);
	font-size: 20px;
}

.logo {
	width: 30px;
	height: 30px;
}

.main-nav {
	display: flex;
	justify-content: center;
}

.nav-button {
	width: 150px;
	height: 35px;
	text-align: center;
}

.nav-button:hover {
	border-bottom: 2px solid #6c97de;
	transition: 0.2s;
}

.menu-link:hover, .more-info-text:hover {
	color: rgb(124, 147, 189);
	transition: 0.1s;
}

.nav-text {
	color: rgb(228, 226, 238);
	font-weight: 500;
	line-height: 2;
	text-transform: uppercase;
}

.selected {
	color: rgb(27, 29, 17);
	background-color: #aecafa;
}

.main-wrapper {
	padding-left: 5%;
	padding-right: 20%;
	display: flex;
	flex-direction: row;
	gap: 50px;
}

.burger-menu {
	min-width: 200px;
	height: 540px;
	border-top: 2px solid #6c97de;
	background: linear-gradient(285deg, rgba(4,4,4,1) 0%, rgba(0,0,15,0.7315301120448179) 100%, rgba(32,32,32,1) 100%);
	color: rgb(228, 226, 238);
	padding: 20px;
}

.content-header-container {
	padding-top: 20px;
	text-align: center;
}

.main-container {
	display: flex;
	flex-direction: column;
	border-top: 2px solid #6c97de;
	background: linear-gradient(285deg, rgba(4,4,4,1) 0%, rgba(0,0,15,0.7315301120448179) 100%, rgba(32,32,32,1) 100%);
	color: rgb(228, 226, 238);
	justify-content: flex-start;
}

.main-container-wrapper {
	display: flex;
	justify-content: center;
}

.block {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px 20px 10px 20px;
}

.block-header, .menu-header {
	text-align: center;
	padding: 15px;
}

.block-content, .block-content-ide {
	display: flex;
	justify-content: center;
	gap: 25px;
}

.block-left, .block-right {
	width: 50%;
}

.block-image-wrapper {
	display: flex;
	align-items: center;
	height: 100%;
}

.block-image {
	width: 100%;
}

.block-subheader {
	padding-top: 5px;
	text-align: center;
}

.video {
	width: 100%;
	height: 500px;
}

.video-wrapper {
	padding-top: 20px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(0deg, rgba(4,4,4,1) 0%, rgba(0,0,15,0.7315301120448179) 100%, rgba(32,32,32,1) 100%);
	height: 150px;
	margin-top: 100px;
	border-top: 2px solid #6c97de;
}

.footer-link:hover {
	cursor: pointer;
}

.footer-icon {
	height: 30px;
	width: 30px;
}

.contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu-option {
	font-weight: 600;
	padding-left: 25px;
}

.menu-suboption {
	font-weight: 300;
	padding-left: 30px;
}

.block-left-ide {
	width: 15%;
}

.block-right-ide {
	width: 85%;
}

.blocks {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.block-ide {
	margin-top: 20px;
	border-top: 2px solid #6c97de;
	width: 80%;
}

.more-info {
	display: flex;
	justify-content: flex-end;
	color: #6c97de;
}

.more-info-text {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
}

.up {
	width: 50px;
	height: 50px;
	border-bottom: 1px solid #6c97de;
}

.up-wrapper {
	position: fixed;
	margin-top: 90vh;
	margin-left: 95vw;
}

.up-img {
	width: 50px;
	height: 50px;
	filter: invert(15%);
}

.back {
	border-bottom: 2px solid #6c97de;
	width: 70px;
	display: flex;
	align-items: center;
	color: rgb(228, 226, 238);
	font-size: 12pt;
}

.back-wrapper {
	display: flex;
}

.back-img {
	width: 30px;
	height: 30px;
	filter: invert(35%);
}

.content {
	padding: 50px;
	display: flex;
	flex-direction: column;
}

.content-image-wrapper {
	display: flex;
	justify-content: center;
}

.content-image {
	width: 60%;
}

.item {
	padding-top: 30px;
	padding-left: 100px;
}

.item-header {
	gap: 10px;
	display: flex;
	font-size: 16pt;
}

.number {
	width: 35px;
	height: 35px;
	border-top: 2px solid #6c97de;
	font-weight: 700;
	font-size: 60%;
	text-align: center;
}

.ide-link {
	color: -webkit-link;
}

.list {
	padding-left: 20px;
}

.icon {
	width: 20px;
	height: 20px;
	margin: 1px 5px 1px 0
}

.advantage {
	display: flex;
}

.item-content {
	display: flex;
	justify-content: row;
	margin-left: 40px;
	margin-top: 10px;
}

.unrated {
	filter: grayscale(1);
}

.block-text-wrapper {
	padding-top: 15px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

th, td {
	border: 1px solid #aecafa;
	text-align: left;
	padding: 8px;
}

th {
	background: linear-gradient(105deg, rgba(4,4,4,1) 0%, rgba(0, 0, 46, 0.732) 100%, rgba(32,32,32,1) 100%);
}